Library/
Temp/
Assets/YM_WB.meta~HEAD
Assets/YM_WB.meta~HEAD_1
Assets/YM_WB.meta~HEAD_0
Assets/YM_WB.meta~origin_Marab
Assets/YM_WB.meta~origin_Marab_0
Assets/SungJun.meta
Assets/YM_WB.meta~HEAD.meta
Assets/YM_WB.meta~HEAD_1.meta
Assets/YM_WB.meta~origin_Marab.meta
Assets/YM_WB.meta~origin_Marab_0.meta
Assets/YM_WB.meta~HEAD_0.meta
Assets/Marab/OVR/Plugins/1.16.0/Win64/OVRPlugin.dll.meta
Assets/Marab/OVR/Plugins/1.16.0/Win64.meta
Assets/Marab/OVR/Meshes/Cone.obj.meta
Assets/YM_WB/demonLord.txt.meta~origin_dev_BN
Assets/SeongJun/Materials/M_MarbleWhite 1.mat.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/texture/texture_scala_mobile.psd.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/texture/Scala_mobile_NM.png.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/texture/Glass.psd.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Materials/RUBBER.mat.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Materials/METAL.mat.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Materials/Glass.mat.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Materials/Decal.mat.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/M_Stairs.FBX.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Coll_M_Top.FBX.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Coll_M_Middle.FBX.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/Models/Models_Meshes/Coll_M_Down.FBX.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/-PREFABS-/ESCALATOR-TOP.prefab.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/-PREFABS-/ESCALATOR-MIDDLE.prefab.meta
Assets/SeongJun/MOBILE_STAIRS_FORNITURES/-PREFABS-/ESCALATOR-DOWN.prefab.meta
Assets/SeongJun/City skyline/Textures/cubemap.png.meta
Assets/SeongJun/City skyline/Textures/Atlas_Reflectivitymask.tga.meta
Assets/SeongJun/City skyline/Textures/Atlas Diffuse.tga.meta
Assets/SeongJun/City skyline/Prefabs/City.prefab.meta
Assets/SeongJun/City skyline/Materials/Atlas_Diffuse.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D PREFAB/Props/Vases3.prefab.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D PREFAB/Props/Outside_Square.prefab.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D PREFAB/Plants/Pothos.prefab.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/VASES/Vases3/Vases3.FBX.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/VASES/Vases3/Vase3_Normal.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/VASES/Vases3/Vase3_MetallicSmoothness.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/VASES/Vases3/Vase3_AmbientOcclusion.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/VASES/Vases3/Vase3_AlbedoTransparency.png.meta
Assets/SeongJun/2ndBuilding.fbx.meta
Assets/Joo/Scripts/JS_BossRangeAttack.cs.meta
Assets/Joo/Scripts/JS_BossRangeAttack.cs
Assets/Joo/EffectsResources/BossGroundAttack/FBX/FTME04_Rock04_LOW.OBJ.meta
Assets/Joo/EffectsResources/BossGroundAttack/FBX/FTME04_Rock03_LOW.OBJ.meta
Assets/Joo/EffectsResources/BossGroundAttack/FBX/FTME04_Rock02_LOW.OBJ.meta
Assets/Joo/EffectsResources/BossGroundAttack/FBX/FTME04_Rock01_LOW.OBJ.meta
Assets/Joo/Cube (5).prefab.meta
Assets/Joo/Cube (5).prefab
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Pothos_Normal.tga.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Pothos_Leaf.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Pothos_Leaf.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Pothos.FBX.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Materials/TropicalSnowStem.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Pothos/Materials/Plant_05_Atlas.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Amoena/Amoena_Branches_Detail.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Amoena/Amoena_Branches.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Amoena/Amoena_Branch_Normal.tga.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Amoena/Amoena_Branch_Detail.psd.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/PLANTS/Amoena/Amoena_Branch.psd.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside_Normal.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside_MetallicSmoothness.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside_AlbedoTransparency.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside_AO.png.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside.mat.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Outside.FBX.meta
Assets/SeongJun/ArchVizPRO_Interior_Vol.3/3D MODEL/FURNITURE/OUTSIDE/Materials/01 - Default.mat.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Materials/01 - Default.mat.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia_Normal.png.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia_MetallicSmoothness.png.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia_AlbedoTransparency.jpg.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia_AO.jpg.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia.mat.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bertoia/Bertoia.FBX.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table_Normal.png.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table_MetallicSmoothness.png.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table_AlbedoTransparency.png.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table_AO.jpg.meta
Assets/SeongJun/The_Texture_Lab/TL_Substances/TL_Concrete_Asphalt_02/Material/TL_Concrete_Asphalt_02.mat.meta
Assets/SeongJun/SJ_Map/OcclusionCullingData.asset.meta
Assets/SeongJun/Prefabs/elevator.fbx.meta
Assets/SeongJun/Prefabs/Pre_4thBuilding.prefab.meta
Assets/SeongJun/Prefabs/Materials/재질_2.mat.meta
Assets/SeongJun/Prefabs/FixedFloor.fbx.meta
Assets/SeongJun/Prefabs/Ele_Wall.fbx.meta
Assets/SeongJun/Pavement textures pack/pavement 08/pavement pattern 08.mat.meta
Assets/SeongJun/Pavement textures pack/pavement 08/normal.tga.meta
Assets/SeongJun/Pavement textures pack/pavement 08/diffuse.tga.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_WoodWall_N.jpg.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_StoneTilesOutside_A.jpg.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_Metalness.jpg.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_MarbleWhite_A.png.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_Concrete1_N.TGA.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_Concrete1_M.TGA.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Textures/T_Concrete1_D.TGA.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Woods/M_GlassStylized.mat.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Woods/M_Glass.mat.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Presentation/M_Wood_Walls 1.mat.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Presentation/M_Concrete 1.mat.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Metals/M_Metal_Aluminium.mat.meta
Assets/SeongJun/Modern Interior Pack 3/Content/Materials/Construction/M_OutdoorStone.mat.meta
Assets/SeongJun/Materials/재질_2.mat.meta
Assets/SeongJun/Materials/T_WoodWall_M.tga.meta
Assets/SeongJun/Materials/T_WoodWall_A.jpg.meta
Assets/SeongJun/Materials/T_MarbleWhite_N.png.meta
Assets/SeongJun/Materials/T_MarbleWhite_M.tga.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table.mat.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D MODEL/Furniture/Bercelona Table/Barcelona_Table.FBX.meta
Assets/SeongJun/ArchVizPRO Interior Vol.4/3D LIGHTMAP/Very_High_8.giparams.meta
Assets/SeongJun/3D models/building 8.FBX.meta
Assets/SeongJun/3D models/building 7.FBX.meta
Assets/SeongJun/3D models/building 5.FBX.meta
Assets/SeongJun/3D models/building 4.FBX.meta
Assets/SeongJun/3D models/Materials/atlas.mat.meta
Assets/SeongJun/3D models/Building 6.FBX.meta
Assets/SeongJun/3D models/Building 3.FBX.meta
Assets/SeongJun/3D models/Building 2.FBX.meta
Assets/SeongJun/3D models/Building 1.FBX.meta
Assets/SeongJun/The_Texture_Lab/TL_Substances/TL_Concrete_Asphalt_02/Source Files/Concrete_Asphalt_normal.tga.meta
Assets/SeongJun/The_Texture_Lab/TL_Substances/TL_Concrete_Asphalt_02/Source Files/Concrete_Asphalt_metallic_Roughness.tga.meta
Assets/SeongJun/The_Texture_Lab/TL_Substances/TL_Concrete_Asphalt_02/Source Files/Concrete_Asphalt_basecolor.tga.meta
